/** @format */

.story {
  cursor: grab;
  &__item {
    width: 7rem;
    height: 7rem;
    padding: 0.3rem;
    @include Responsive(tablet) {
      width: 10rem;
      height: 10rem;
    }
    @include Responsive(phone) {
      width: 12rem;
      height: 12rem;
    }
  }

  &__caption {
    width: 4rem;
  }
  &__rl {
    width: 3rem;
    height: 3rem;
    border: 1px solid $divider-light;
    @include Responsive(tablet) {
      display: none;
    }
    &::after {
      content: "";
      font-size: $fs-4;
    }
  }
}
